<div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                width="150px" src="/public/uploads/thread-lock.jpg"><br><span
                                class="font-weight-bold"><strong>{{users.firstName}}</strong></span>Admin<br>
                        <span class="text-black-50">{{users.email}}</span><span> </span>
                </div>
                <br>
                </form>
                <form action="/products/" method="get">
                        <div id='requestList'>
                                <div>
                                        <br>
                                        <h3 class="text-centre">Adding Products Requests</h3>
                                        <br>
                                        <br>
                                        <ul id="requestFrom"></ul>
                                        <br>
                                        <br>
                                </div>

                        </div>
                </form>
                <br>
                <form action="/products/" method="post">
                        <div>
                                <div>
                                        <br>
                                        <h3 class="text-centre">Create New Product</h3>
                                        <br>
                                        <br>
                                </div>
                                <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Product Name</label><input
                                                        type="text" class="form-control"
                                                        placeholder="enter product name" name='productName'>

                                        </div id="container">
                                        <div class="col-md-12"><label class="labels">Product
                                                        Picture</label><input type="text" class="form-control"
                                                        placeholder="enter product picture url" name='productPicture'>
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Product Links</label><input type="text"
                                                        class="form-control" placeholder="enter product links"
                                                        name='productLinks[0]'>
                                                {{!-- <button id="newsectionbtn">add more</button> --}}

                                        </div>
                                        <div class="col-md-12"><label class="labels">Brand</label><input type="text"
                                                        class="form-control" placeholder="enter brand" name='brand'>
                                        </div>
                                        <div class="col-md-12"><label class="labels">Price</label><input type="text"
                                                        class="form-control" placeholder="enter price" name='price'>
                                        </div>
                                        <div class="col-md-12"><label class="labels">Category</label><input type="text"
                                                        class="form-control" placeholder="enter category"
                                                        name='category'></div>



                                </div>
                                <br>
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                                type="submit">create
                                        </button></div>
                                <br>
                        </div>
                </form>
        </div>

        <br>
        <form action="/admin/delete" method="post" id="deleteProductForm">
                <div>
                        <div>
                                <br>
                                <h3 class="text-centre">Delete Products</h3>
                                <br>
                                <br>
                        </div>
                        <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Product Id</label><input type="text"
                                                class="form-control" placeholder="enter product id to be deleted"
                                                name='productId' id='productId'>

                                </div id="container">
                        </div>
                        <br>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit"
                                        id='deleteProductIdButton'>delete
                                </button></div>
                        <br>
        </form>
</div>
</div>
</div>
</div>
</div>
<script src="/public/js/admin.js"></script>