<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="/public/images/slider2.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Beautiful<br>EveryDay</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="/products">See Details</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
          
             <div class="slide">
               <img src="/public/images/slider5.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Beautiful<br>EveryDay</h1>
                       	<div class="button"><a href="/products">See Details</a></div>
                    </div>
                </div>
            </div>
            
             <div class="slide">
               <img src="/public/images/slider4.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Beautiful<br>EveryDay</h1>
                       	<div class="button"><a href="/products">See Details</a></div>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
		<div class="content-top">
			<h2>Products</h2>
			<p>“Makeup is the finishing touch, the final accessory.” </p>
			<div class="close_but"><i class="close1"> </i></div>
				<ul id="flexiselDemo3">
				<li><img src="/public/uploads/es1.jpg" /></li>
				<li><img src="/public/uploads/cc1.jpg" /></li>
				<li><img src="/public/uploads/fe1.jpg" /></li>
				<li><img src="/public/uploads/mr1.jpg" /></li>
				<li><img src="/public/uploads/nc1.jpg" /></li>
			</ul>
		<h3>Product Series</h3>
			<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
		</script>
		<script type="text/javascript" src="public/js/jquery.flexisel.js"></script>
		</div>
	</div>
	<div class="content-bottom">
		<div class="container">
			<div class="row content_bottom-text">
			  <div class="col-md-7">
				<h3>Makeup<br>Confidence</h3>
				<p class="m_1">“Consider the fact that maybe…just maybe…beauty and worth aren’t found in a makeup bottle, or a salon-fresh hairstyle, or a fabulous outfit. Maybe our sparkle comes from somewhere deeper inside, somewhere so pure and authentic and REAL, it doesn’t need gloss or polish or glitter to shine.”</p>
				<p class="m_2">“Feminism and femininity are not mutually exclusive. It is misogynistic to suggest that they are. Sadly, women have learned to be ashamed and apologetic about pursuits that are seen as traditionally female, such as fashion and makeup. But our society does not expect men to feel ashamed of pursuits considered generally male - sports cars, certain professional sports. In the same way, men's grooming is never suspect in the way women's grooming is - a well-dressed man does not worry that, because he is dressed well, certain assumptions might be made about his intelligence, his ability, or his seriousness. A woman, on the other hand, is always aware of how a bright lipstick or a carefully-put-together outfit might very well make others assume her to be frivolous.”</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="features">
		<div class="container">
			<h3 class="m_3">Famous Products</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  <div class="row">
				<div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="single.html">
                    <img src="/public/uploads/fe1.jpg" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Eye</h2>
                        <p>Beautiful Eyes</p>
                      </div>
                   </a> </div
                  </div>
                  <h4 class="m_4"><a href="#">Sparkle lashes</a></h4>
                  <p class="m_5">"Maybe it’s NOT Maybelline. Maybe you were just born with it"</p>
                </div>
                <div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="single.html">
                    <img src="/public/uploads/h1.jpg" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Face Sparkle</h2>
                        <p>Confidence is when you make it up with makeup</p>
                      </div>
                    </a> </div>
                   <h4 class="m_4"><a href="#">Compact Blush</a></h4>
                   <p class="m_5">“I fought a killer and didn’t even smudge my makeup.”</p>
				</div>
				<div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="single.html">
                    <img src="/public/uploads/es1.jpg" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Blush</h2>
                        <p>Blush with Blush</p>
                      </div>
                    </a> </div>
                   <h4 class="m_4"><a href="#">sparkle Shadow</a></h4>
                   <p class="m_5">“I fought a killer and didn’t even smudge my makeup.”</p>
				</div>
				<div class="col-md-3 top_box1">
					<div class="view view-ninth"><a href="single.html">
                    <img src="/public/uploads/lb1.jpg" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Hot look</h2>
                        <p>when you know what suits you</p>
                      </div>
                     </a> </div>
                   <h4 class="m_4"><a href="#">Love Pink red combo</a></h4>
                   <p class="m_5">“Makeup can contribute to our success.”</p>
				</div>
			</div>
		 </div>
	    </div>
        </div>